*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    background:var(--gray-900);
    color: var(--text-default);
}
.container-fluid{
    /* background-color:purple; */
    max-width: 98rem;
}
.container{
    max-width: 98rem;
    /* background: green; */
    margin: 0 auto;
 
}

.content{
    /* background:red; */
    margin: 3.2rem;
    text-align: center;
}